body {
	font-family: 'Bungee Shade', cursive, sans-serif;
	background-color: black;
	color: black;
	overflow-x: hidden;
}

section {
	border-bottom: 3px solid black;
}

.title {
	font-size: 5em;
	text-align: center;
}

#top-nav {
	background-color: lemonchiffon;
	font-size: 1.2em;
	border-bottom: 3px solid black;
}

#intro {
	background-image: url('../img/cover1.jpg');
	min-height: 42em;
	background-size: cover;
	background-position: 0em;
	-webkit-filter: saturate(2);
	margin-top: 3.6em;
}

#separator {
	min-height: 1em;
	color: white;
	font-family: Shrikhand, cursive, sans-serif;
	background-color: lemonchiffon;
	font-size: 3em;
}

#separator p {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 4rem;
    color: black;
    text-align: center;
}

#freelance {
	min-height: 52em;
	background-image: url('../img/freelance1.jpg');
	background-size: cover;
	background-position: 0em 0em;
	-webkit-filter: saturate(2);
	border-top: 1px solid black;
}

#freelance:before {
	content:"";
	display: block;
	height: 3.6em;
	margin: -3.6em 0 0;
}

#projects {
	min-height: 75em;
	background-image: url('../img/projects.jpg');
	background-size: cover;
	background-position: 0em 0em;
	-webkit-filter: saturate(2);
}

#footer {
	background-color: lemonchiffon;
	font-size: 1.2em;
	border-top: 3px solid black;
	padding-top: .6em;
}

.footer-content {
	text-align: center;
	font-weight: 600;
}

.navbar-fixed-top .navbar-brand {
	font-size: 2.2em;
	color: darkgreen;
	letter-spacing: -6px;
	font-family: 'Shrikhand';
}


.navbar-fixed-top .navbar-nav > .active > a, .navbar-fixed-top .navbar-nav > .open > a, .navbar-fixed-top .navbar-nav > li > a {
	color: black;
	font-weight: 600;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: orange;
}

.dropdown-menu {
	background-color: lemonchiffon;
}



@media (max-width: 1000px) {

	.title {
		font-size: 10vw;
	}
	
	#separator {
		min-height: 1em;
		color: white;
		font-size: 6vw;
	}
	
	#separator p {
		font-size: 2rem;
	}

}

@media (max-width: 787px) {
	#freelance {
		background-position: -20em 0em; 
	}
}