body {
	font-family: 'Bungee Shade', cursive, sans-serif;
	background-color: black;
	color: #333;
	overflow-x: hidden;
}

section {
	border-bottom: 3px solid black;
}

.title {
	font-size: 5em;
	text-align: center;
	line-height: 0.8em;
}

#top-nav {
	background-color: lemonchiffon;
	font-size: 1.2em;
	border-bottom: 3px solid black;
}

#intro {
	background-image: url('../img/cover1.jpg');
	min-height: 90vh;
	background-size: cover;
	background-position: 0em;
	-webkit-filter: saturate(2);
	margin-top: 3.6em;
	background-repeat: no-repeat;
}

#separator {
	min-height: 1em;
	color: white;
	font-family: Shrikhand, cursive, sans-serif;
	background-color: lemonchiffon;
	font-size: 3em;
}

#separator p {
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 4rem;
    color: #333;
    text-align: center;
}

#aboutme {
	min-height: 80vh;
	background-image: url('../img/freelance1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0em 0em;
	-webkit-filter: saturate(2);
	border-top: 1px solid black;
}

#aboutme:before {
	content:"";
	display: block;
	height: 3em;
}

#projects {
	min-height: 90vh;
	background-image: url('../img/projects.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0em 0em;
	-webkit-filter: saturate(2);
}

#projects:before {
	content:"";
	display: block;
	height: 3em;
}

#footer {
	background-color: lemonchiffon;
	font-size: 1.2em;
	border-top: 3px solid black;
	padding-top: 0.2em;
}

.footer-content {
	text-align: center;
	font-weight: 600;
}

h1 small {
	color: #333;
}

/* Bootstrap Overrides */

.navbar-fixed-top .navbar-brand {
	font-size: 2.2em;
	color: sienna;
	letter-spacing: -6px;
	font-family: 'Shrikhand';
}

.navbar-toggle {
	padding: .5em 0 0 0;
}

.navbar-fixed-top .navbar-nav > .active > a, .navbar-fixed-top .navbar-nav > .open > a, .navbar-fixed-top .navbar-nav > li > a {
	color: #333;
	font-weight: 600;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}

.dropdown-menu {
	background-color: lemonchiffon;
}

.nav > li > a.btn-lg {
	/* font-size: 2em;
	padding: 0.2em; */
	display: inline;
	padding: 0em 0.4em;
}

.navbar-right li {
	display: inline;
	margin: 0.5em 0.5em;
}

.navbar-right {
	text-align: center;
}

@media (max-width: 1000px) {

	.title {
		font-size: 10vw;
	}
	
	#separator {
		min-height: 1em;
		color: white;
		font-size: 6vw;
	}
	
	#separator p {
		font-size: 2rem;
	}

}

@media (max-width: 787px) {
	#aboutme {
		background-position: -5vw 0em; 
	}
}