body {
	background-color: black;
	color: #333;
	overflow-x: hidden;
}

section {
	border-bottom: 3px solid black;
}

.nav-link {
	font-family: Cardo, monospace, sans-serif;

}

.nav-link:hover {
	text-shadow: -2px 0 #eee, 0 2px #eee, 2px 0 #eee, 0 -2px #eee;
}

.intro-title {
	font-size: 6em;
	text-align: right;
	margin-bottom: 1em;
	font-weight: 700;
	line-height: 0.8em;
	font-family: 'Cinzel', cursive, sans-serif;
	text-shadow: -.5px 0 #eee, 0 .5px #eee, .5px 0 #eee, 0 -.5px #eee;
	-webkit-font-smoothing: antialiased;
}

.title {
	font-size: 11vh;
	text-align: center;
	line-height: 0.8em;
	color: #333;
	font-family: 'Cinzel', cursive, sans-serif;
	font-weight: 700;
	text-shadow: -1px 0 #eee, 0 1px #eee, 1px 0 #eee, 0 -1px #eee;
}

#top-nav {
	background-color: lemonchiffon;
	font-size: 1.4em;
	text-align: center;
	border-bottom: 3px solid black;
}

#intro {
	background-image: url('../img/cover1.jpg');
	min-height: 96vh;
	background-size: cover;
	background-position: 0em;
	padding: 3em;
	-webkit-filter: saturate(2);
	margin-top: 3.6em;
	background-repeat: no-repeat;
}

#aboutme {
	max-height: 100vh;
	color: white;
	font-family: Cardo, cursive, sans-serif;
	background-color: lemonchiffon;
	padding: 0 1em;
	font-size: 3em;
}

#aboutme:before {
	content:"";
	display: block;
	height: 1em;
}

#aboutme p {
    margin-bottom: 1em;
    font-size: 3vh;
    color: #333;
    text-align: left;
    text-indent: 2em;
    text-shadow: -0.5px 0 #eee, 0 0.5px #eee, 0.5px 0 #eee, 0 -0.5px #eee;
}

#aboutme p:nth-of-type(3) {
	margin-bottom: 2em;
}

#aboutme h1 {
	margin-bottom: 0.6em;
}

#vg-faves {
	font-size: 2.5vh;
	list-style: none;
	text-align: center;
	padding: 0;
	color: #333;
	text-shadow: -1px 0 #eee, 0 1px #eee, 1px 0 #eee, 0 -1px #eee;
	margin-bottom: 2em;
}

.colorado {
	min-height: 80vh;
	background-image: url('../img/freelance1.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0em 0em;
	-webkit-filter: saturate(2);
	border-top: 1px solid black;
}

.adventure:before {
	content:"";
	display: block;
	height: 3em;
}

.adventure-title {
	font-size: 3em;
	margin: -0.6em 0;
	font-family: Cardo, monospace, sans-serif;
	text-align: center;
	text-shadow: -1px 0 #eee, 0 1px #eee, 1px 0 #eee, 0 -1px #eee;
}

#projects {
	min-height: 1em;
	color: white;
	font-family: Cardo, cursive, sans-serif;
	background-color: lemonchiffon;
	font-size: 3em;
}

#projects .title {
	font-weight: 700;
}

.project-title {
	text-align: center;
	color: #333;
	height: 7vh;
	text-shadow: -1px 0 #eee, 0 1px #eee, 1px 0 #eee, 0 -1px #eee;
}

.mojave {
	min-height: 90vh;
	background-image: url('../img/projects.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 0em 0em;
	-webkit-filter: saturate(2);
}

#projects:before {
	content:"";
	display: block;
	height: 1em;
}

h1 small {
	color: #333;
	margin: 0 1em 0 0;
	font-weight: 700;
}

#project-carousel {
	margin-bottom: 4vh;
}


/* Bootstrap Overrides */

.navbar-fixed-top .navbar-brand {
	font-size: 2.2em;
	padding: 17px 15px 15px 15px;
	color: sienna;
	letter-spacing: -6px;
	font-family: 'Cardo', sans-serif;
}

.navbar-toggle {
	padding: .5em 0 0 0;
}

.navbar-fixed-top .navbar-nav > .active > a, 
.navbar-fixed-top .navbar-nav > .open > a, 
.navbar-fixed-top .navbar-nav > li > a {
	color: #333;
	font-weight: 700;
}

.navbar-fixed-top .navbar-nav > .active > a:hover, 
.navbar-fixed-top .navbar-nav > .open > a:hover, 
.navbar-fixed-top .navbar-nav > li > a:hover {
	text-shadow: -2px 0 #ddd, 0 2px #ddd, 2px 0 #ddd, 0 -2px #ddd;
}

.nav > li > a:hover, .nav > li > a:focus {
	background-color: transparent;
}

.dropdown-menu {
	background-color: lemonchiffon;
}

.nav > li > a.btn-lg {
	display: inline;
	padding: 0em 0.4em;
}

.navbar-right li {
	display: inline;
	margin: 0.5em 0.5em;
}

.navbar-right {
	text-align: center;
}

.img-responsive, .thumbnail > img, .thumbnail a > img, 
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
	width: auto;
	height: 54vh;
	margin: 0 auto;
	border: 3px solid #333;
	border-radius: 5px;
	max-width: 85vw;
}

.carousel-caption> h1, .carousel-caption>p {
	color: antiquewhite;
	font-family: 'Cardo', cursive, sans-serif;
	margin-bottom: -1.9vh;
}

.carousel-caption>h1 {
	margin-bottom: 0;
}

.carousel-caption .btn {
	background-color: antiquewhite;
	color: #333;
	font-family: 'Cardo', cursive, sans-serif;
	opacity: .8;
	text-shadow: -1px 0 #eee, 0 1px #eee, 1px 0 #eee, 0 -1px #eee;
	font-size: 0.7em;
}

.carousel-indicators {
	bottom: -20px;
}

.carousel-indicators li {
	border: 1px solid #333;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
	color: #333;
	transform: scale(3);
	-webkit-transform: scale(3);
}



@media (max-width: 1000px) {

	.title {
		font-size: 10vw;
	}
	
	#aboutme {
		min-height: 1em;
		color: white;
		font-size: 6vw;
	}
	
	#aboutme p {
		font-size: 1.6rem;
	}

	#vg-faves {
		font-size: 1.5rem;
	}



}

@media (max-width: 787px) {
	#adventure {
		background-position: -5vw 0em; 
	}

	.intro-title {
		font-size: 1.9em;
		text-align: center;
		margin: 5em 0 0 0;
	}

	.countries-title {
		font-size: 0.6em;
	}

	.adventure-title {
		font-size: 1.3em;
	}

	h1 small {
		margin: 0;
	}
}

@media (max-height: 620px) {
	.carousel-caption .btn {
		margin-bottom: -3em;
		color: #333;
		font-size: 0.3em;
	}

	.carousel-control .glyphicon-chevron-left,
	.carousel-control .glyphicon-chevron-right {
		transform: scale(1);
	}
}

@media (max-height: 416px) {
	.carousel-caption> h1, .carousel-caption>p:first-of-type {
		font-family: 'Cardo', cursive, sans-serif;
		margin-top: -15vh;
	}

	.intro-title {
		margin: 2em 0 0 0;
	}
}